/*
 * Copyright (c) 2021 Joakim S. Langvand (@jlangvand).
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.root {
    -fx-background-color: #eeeeee;
}
.label {
    -fx-text-fill: #222222;
}

.list-view {
    -fx-background-color: #fafafa;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #2a794f;
}

.card {
    -fx-background-color: #dddddd;
}